[submodule "home/.vim/bundle_storage/vim-fugitive"]
	path = home/.vim/bundle_storage/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "home/.vim/bundle_storage/vim-ruby"]
	path = home/.vim/bundle_storage/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "home/.vim/bundle_storage/vim-cucumber"]
	path = home/.vim/bundle_storage/vim-cucumber
	url = https://github.com/tpope/vim-cucumber
[submodule "home/.vim/bundle_storage/vim-coffee-script"]
	path = home/.vim/bundle_storage/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "home/.vim/bundle_storage/vim-git"]
	path = home/.vim/bundle_storage/vim-git
	url = https://github.com/tpope/vim-git
[submodule "home/.vim/bundle_storage/vim-haml"]
	path = home/.vim/bundle_storage/vim-haml
	url = https://github.com/tpope/vim-haml
[submodule "home/.vim/bundle_storage/vim-javascript"]
	path = home/.vim/bundle_storage/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "home/.vim/bundle_storage/vim-rails"]
	path = home/.vim/bundle_storage/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "home/.vim/bundle_storage/nerdtree"]
	path = home/.vim/bundle_storage/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle_storage/nerdcommenter"]
	path = home/.vim/bundle_storage/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "home/.vim/bundle_storage/vim-surround"]
	path = home/.vim/bundle_storage/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle_storage/vim-unimpaired"]
	path = home/.vim/bundle_storage/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "home/.vim/bundle_storage/vim-space"]
	path = home/.vim/bundle_storage/vim-space
	url = https://github.com/spiiph/vim-space.git
[submodule "home/.vim/bundle_storage/ack.vim"]
	path = home/.vim/bundle_storage/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle_storage/camelcasemotion"]
	path = home/.vim/bundle_storage/camelcasemotion
	url = https://github.com/vim-scripts/camelcasemotion.git
[submodule "home/.vim/bundle_storage/vim-endwise"]
	path = home/.vim/bundle_storage/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "home/.vim/bundle_storage/argtextobj.vim"]
	path = home/.vim/bundle_storage/argtextobj.vim
	url = https://github.com/vim-scripts/argtextobj.vim.git
[submodule "home/.vim/bundle_storage/vim-indent-object"]
	path = home/.vim/bundle_storage/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "home/.vim/bundle_storage/vim-indent-guides"]
	path = home/.vim/bundle_storage/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "home/.vim/bundle_storage/vim-handlebars"]
	path = home/.vim/bundle_storage/vim-handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "home/.vim/bundle_storage/vim-bundler"]
	path = home/.vim/bundle_storage/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "home/.vim/bundle_storage/syntastic"]
	path = home/.vim/bundle_storage/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle_storage/ctrlp"]
	path = home/.vim/bundle_storage/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle_storage/matchit"]
	path = home/.vim/bundle_storage/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "home/.vim/bundle_storage/vim-abolish"]
	path = home/.vim/bundle_storage/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "home/.vim/bundle_storage/vim-repeat"]
	path = home/.vim/bundle_storage/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "home/.vim/bundle_storage/vim-ragtag"]
	path = home/.vim/bundle_storage/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "home/.vim/bundle_storage/vim-slim"]
	path = home/.vim/bundle_storage/vim-slim
	url = git://github.com/slim-template/vim-slim.git
[submodule "home/.vim/bundle_storage/vim-obsession"]
	path = home/.vim/bundle_storage/vim-obsession
	url = git://github.com/tpope/vim-obsession.git
[submodule "home/.vim/bundle_storage/vim-yardoc"]
	path = home/.vim/bundle_storage/vim-yardoc
	url = git://github.com/noprompt/vim-yardoc.git
[submodule "home/.vim/bundle_storage/vim-eunuch"]
	path = home/.vim/bundle_storage/vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "home/.vim/bundle_storage/vim-startify"]
	path = home/.vim/bundle_storage/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "home/.vim/bundle_storage/splitjoin.vim"]
	path = home/.vim/bundle_storage/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "home/.vim/bundle_storage/vim-go"]
	path = home/.vim/bundle_storage/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "home/.vim/bundle_storage/tcd.vim"]
	path = home/.vim/bundle_storage/tcd.vim
	url = https://github.com/vim-scripts/tcd.vim.git
[submodule "home/.vim/bundle_storage/rust.vim"]
	path = home/.vim/bundle_storage/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "home/.vim/bundle_storage/tagbar"]
	path = home/.vim/bundle_storage/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "home/.vim/bundle_storage/vim-toml"]
	path = home/.vim/bundle_storage/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "home/.vim/bundle_storage/vim-dispatch"]
	path = home/.vim/bundle_storage/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "home/.vim/bundle_storage/racer"]
	path = home/.vim/bundle_storage/racer
	url = https://github.com/phildawes/racer.git
[submodule "home/.vim/bundle_storage/vim-go-impl"]
	path = home/.vim/bundle_storage/vim-go-impl
	url = https://github.com/rhysd/vim-go-impl.git
[submodule "home/.vim/bundle_storage/vim-airline"]
	path = home/.vim/bundle_storage/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "home/.vim/bundle_storage/tmuxline.vim"]
	path = home/.vim/bundle_storage/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
