[submodule "home/.vim/bundle_storage/vim-fugitive"]
	path = home/.vim/bundle_storage/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "home/.vim/bundle_storage/vim-ruby"]
	path = home/.vim/bundle_storage/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "home/.vim/bundle_storage/vim-cucumber"]
	path = home/.vim/bundle_storage/vim-cucumber
	url = https://github.com/tpope/vim-cucumber
[submodule "home/.vim/bundle_storage/vim-coffee-script"]
	path = home/.vim/bundle_storage/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "home/.vim/bundle_storage/vim-git"]
	path = home/.vim/bundle_storage/vim-git
	url = https://github.com/tpope/vim-git
[submodule "home/.vim/bundle_storage/vim-haml"]
	path = home/.vim/bundle_storage/vim-haml
	url = https://github.com/tpope/vim-haml
[submodule "home/.vim/bundle_storage/vim-javascript"]
	path = home/.vim/bundle_storage/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "home/.vim/bundle_storage/vim-rails"]
	path = home/.vim/bundle_storage/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "home/.vim/bundle_storage/nerdtree"]
	path = home/.vim/bundle_storage/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle_storage/nerdcommenter"]
	path = home/.vim/bundle_storage/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "home/.vim/bundle_storage/vim-surround"]
	path = home/.vim/bundle_storage/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle_storage/vim-unimpaired"]
	path = home/.vim/bundle_storage/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "home/.vim/bundle_storage/vim-space"]
	path = home/.vim/bundle_storage/vim-space
	url = https://github.com/spiiph/vim-space.git
[submodule "home/.vim/bundle_storage/ack.vim"]
	path = home/.vim/bundle_storage/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle_storage/camelcasemotion"]
	path = home/.vim/bundle_storage/camelcasemotion
	url = https://github.com/vim-scripts/camelcasemotion.git
[submodule "home/.vim/bundle_storage/vim-endwise"]
	path = home/.vim/bundle_storage/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "home/.vim/bundle_storage/LustyJuggler"]
	path = home/.vim/bundle_storage/LustyJuggler
	url = https://github.com/vim-scripts/LustyJuggler.git
[submodule "home/.vim/bundle_storage/argtextobj.vim"]
	path = home/.vim/bundle_storage/argtextobj.vim
	url = https://github.com/vim-scripts/argtextobj.vim.git
[submodule "home/.vim/bundle_storage/vim-indent-object"]
	path = home/.vim/bundle_storage/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "home/.vim/bundle_storage/vim-indent-guides"]
	path = home/.vim/bundle_storage/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "home/.vim/bundle_storage/vim-handlebars"]
	path = home/.vim/bundle_storage/vim-handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "home/.vim/bundle_storage/vim-bundler"]
	path = home/.vim/bundle_storage/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "home/.vim/bundle_storage/vim-powerline"]
	path = home/.vim/bundle_storage/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "home/.vim/bundle_storage/syntastic"]
	path = home/.vim/bundle_storage/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle_storage/ctrlp"]
	path = home/.vim/bundle_storage/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
